<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Sber-WebSocket</title>
</head>
<body>
{% raw %}
<div id="socket-app" class="container p-0" style="height: 100vh">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">{{ userName }}</a>
        <a class="navbar-brand text-dark">I</a>
    </nav>
    <div style="height: 500px; overflow-y: auto; position: relative" class="bg-light border border-dark d-flex flex-column justify-content-end pb-1 px-3">
        <div v-for="message in messages">
            <p :class="[message.userName === userName ? 'text-success' : 'text-primary']">
                {{message.userName}}: {{ message.userMessage }}
            </p>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="d-flex w-100">
            <input
                    v-model="userMessage"
                    class="form-control mr-2"
                    placeholder="Ваше сообщение"
                    @keyup.enter.exact="sendMessage"
            >
            <button
                    class="btn btn-outline-success my-2 my-sm-0"
                    type="submit"
                    @click="sendMessage"
            >
                Отправить
            </button>
        </div>
    </nav>
    <div v-if="userName === adminName">
        <p class="font-weight-normal">Для отправки сообщения пользователю, Имя пользователя отделяется ':' c пробелом.
            Например для отправки сообщения пользователю c именем User нужно написать
            <span class="font-weight-bold">"User: сообщение"</span>
        </p>
        <p>Например для отправки сообщения пользователю c именем User нужно написать </p>
    </div>
    <!--Модальное окно-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Выберите пользователя</h5>
                </div>
                <div class="modal-body">
                    <input
                            v-model="userName"
                            class="form-control mr-2"
                            placeholder="Представтесь пожалуйста"
                            @keyup.enter.exact="sendMessage"
                    >
                </div>
                <div class="modal-footer">
                    <button
                            type="button"
                            class="btn btn-success"
                            :disabled="!userName"
                            data-dismiss="modal"
                            @click="registerUserOnServer('')"
                    >{{userButtonLabel}}
                    </button>
                    <button
                            type="button"
                            class="btn btn-primary"
                            data-dismiss="modal"
                            @click="registerUserOnServer(adminName)"
                    >Администратор
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endraw %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    // Реализация на одном компоненте
    let socketApp = new Vue({
        el: '#socket-app',
        data: {
            adminName: 'Администратор',
            userName: '',
            userMessage: '',
            messages: [],
            whoYouAreModal: true,
            serverSocket: null
        },
        mounted() {
            // Использую мезанизмы бутстрапа
            $('#exampleModalCenter').modal('show')
        },
        computed: {
            userButtonLabel() {
                return this.userName ? 'Обычный пользователь' : 'Введите имя пользователя'
            }
        },
        methods: {
            sendMessage() {
                if (this.userMessage) {
                    this.messages.push({
                        userName: this.userName,
                        userMessage: this.userMessage
                    })
                    this.serverSocket.send(this.userMessage);
                    this.userMessage = ''
                }
            },
            registerUserOnServer(userName) {
                console.debug('registerUserOnServer userName', userName)
                if (userName) {
                    this.userName = userName
                }
                let wsProtocol = window.location.protocol === 'https:' ? 'wss' : 'ws'
                this.serverSocket = new WebSocket(`${wsProtocol}://${window.location.host}/ws/chat?user=${this.userName}`)
                this.serverSocket.onopen = function () {
                    console.debug("Соединение установлено.");
                };
                let vm = this
                this.serverSocket.onclose = function (event) {
                    if (event.wasClean) {
                        console.debug('Соединение закрыто чисто');
                        $('#exampleModalCenter').modal('show')
                    } else {
                        console.warn('Обрыв соединения'); // например, "убит" процесс сервера
                        $('#exampleModalCenter').modal('show')
                    }
                    console.log('Код: ' + event.code + ' причина: ' + event.reason);
                };

                this.serverSocket.onmessage = function (event) {
                    console.log("Получены данные " + event.data);
                    let userName = event.data.split(': ')[0]
                    let userMessage = event.data.split(': ').slice(1).join(': ')
                    vm.messages.push({
                        userName,
                        userMessage
                    })

                };

                this.serverSocket.onerror = function (error) {
                    console.warn("Ошибка " + error.message);
                };
            }
        }
    })
</script>
</html>